.display_box {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;    
}   

.display_box > * {
    margin-bottom: 30px;
}


  @media print {
    .display_box {
      width: 210mm;
      height: 297mm;
      page-break-before: auto;
      size: A4;
      margin: 0;
      display: grid; 
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr 1fr; 
      gap: 0px auto; 
    }
}
